<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Game</title>
</head>
<body>
<form th:object="${newGame}" 
th:action="@{/edit/{id}(id=${newGame.id})}" method='POST'>
Game Name: <input name="gameName" size="20" th:field="*{gameName}"> <br />
Year of Release: <input name="yearOfRelease" size="10" th:field="*{yearOfRelease}"><br />
Price: <input name="price" size="20" th:field="*{price}"><br />
Rating: <input name="rating" size="10" th:field="*{rating}"><br />

<input name="submit" type="submit" value="submit"/>
</form>
<a href="viewAll">View all Games</a>
</body>
</html>